{{isLoggedIn}}
<h1>{{username}}</h1>
<p>Welcome to {{title}}</p>

<div>
    <div>
        <img src="/images/dog-face.jpeg" alt="dog face picture">
        <p>Pedro's face waiting for me to submit labs</p>
    </div>

    <div>
        <img src="/images/Dog-face-2.jpeg" alt="dog face picture">
        <p>Pedro's face looking for evidence of chat gpt in my code</p>
    </div>
</div>

<button class="btn btn-outline-primary">
    <a href='/profile'>Go back</a>
</button>
