{{isLoggedIn}}
<h1>Hola {{username}}!</h1>

<p>this is your {{email}}</p>
<p>is this your password? {{password}}</p>

<button class="btn btn-outline-primary">
    <a href='/profile'>Go back</a>
</button>